.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e1003c;
  padding: 20px;
}

.App-header img {
  width: 200px;
  margin-right: 20px;
}

.App-header h1 {
  color: #e1003c;
}

.App-body {
  padding: 40px;
  font-size: 18px;
}

.App-footer {
  border-top: 3px solid #e1003c;
  text-align: center;
  font-style: italic;
  padding: 20px;
}

